.tabPanel {
  padding: 0 1rem 0.5rem 1rem;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: auto;
  font-family: 'Courier New', Courier, monospace;
}

.table th {
  background-color: #3182ce;
  color: white;
  padding: 0.75rem;
  text-align: left;
}

.table td {
  padding: 0.75rem;
  border-bottom: 1px solid #e2e8f0;
}

.table tr:nth-child(even) {
  background-color: #c2ced6;
}

.table tr:hover {
  background-color: #ebf8ff;
}

.lowStock,
.expiringSoon {
  color: #e53e3e;
  font-weight: bold;
}

.goodStock,
.goodExpiry {
  color: #38a169;
  font-weight: bold;
}
