.tabPanel {
  padding: 0 1rem 0.5rem 1rem;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: auto;
  font-family: 'Courier New', Courier, monospace;
}

.table th {
  background-color: #3182ce;
  color: white;
  padding: 0.75rem;
  text-align: left;
}

.table td {
  padding: 0.75rem;
  border-bottom: 1px solid #e2e8f0;
}

.table tr:nth-child(even) {
  background-color: #c2ced6;
}

.table tr:hover {
  background-color: #ebf8ff;
}

.lowStock,
.expiringSoon {
  color: #e53e3e;
  font-weight: bold;
}

.goodStock,
.goodExpiry {
  color: #38a169;
  font-weight: bold;
}

@media (max-width: 768px) {
  .table tbody tr {
    margin: 0 !important;
    padding: 0 !important;
  }

  .table td {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .tabPanel {
    margin: 0 !important;
    padding: 0 !important;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  border-radius: 16px;
  padding: 2rem;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal input {
  width: 100%;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.modalButtons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.modalButtons button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.modalButtons button:first-child {
  background: #3182ce;
  color: white;
}

.modalButtons button:last-child {
  background: #ccc;
  color: black;
}

.quantityCell {
  background-color: #edf2f7; /* light gray-blue */
  border: 1px solid #cbd5e0; /* slightly darker border */
  border-radius: 20px;
  padding: 0.25rem 0.75rem;
  text-align: center;
  font-weight: 500;
  color: #2d3748;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.quantityCell:hover {
  background-color: #e2e8f0; /* slightly darker on hover */
}


.storeCell {
  background-color: #ffffff;
  border: 1px solid #dde411;
  border-radius: 20px;
  padding: 0.25rem 0.75rem;
  color: #2c7a7b;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.storeCell:hover {
  background-color: #b2f5ea;
}

.homeCell {
  background-color: #ffffff;
  border: 1px solid #ca0ce7;
  border-radius: 20px;
  padding: 0.25rem 0.75rem;
  color: #2b6cb0;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.homeCell:hover {
  background-color: #bee3f8;
}
